.cats-feed {
    --card-size: 16rem;

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 2rem;

    &__card {
        width: var(--card-size);
        height: var(--card-size);
    }
}